In [1]:
# check that the DDFs are indeed scheduled the same way
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
import pandas as pd
import sqlite3

In [49]:
#sql = 'select distinct(night) from observations where note like "%%DD:ELAISS1%%" and filter="z";'
sql = 'select count(night) from observations where note like "%%DD%%"'
con = sqlite3.connect('filter_u_zy_v3.1_10yrs.db')
df_u_zy = pd.read_sql(sql, con)
con.close()
con = sqlite3.connect('filter_u_y_v3.1_10yrs.db')
df_u_y = pd.read_sql(sql, con)
con.close()

con = sqlite3.connect('filter_u_z_v3.1_10yrs.db')
df_u_z = pd.read_sql(sql, con)
con.close()

In [50]:
df_u_zy

   count(night)
0        141424

In [51]:
df_u_y

   count(night)
0        134107

In [52]:
df_u_z

   count(night)
0        130762